* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

header, main {
    margin-left: 40px;
}

p {
    font-size: small;
}

.logo {
    width: 80px;
    height: 60px;
    padding-top: 20px;
    padding-left: 0%;
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}    

.nav {
    display: flex;
}

.nava {
    margin: 30px 60px 10px 10px;
}

.heb {
    text-decoration: none;
    color: black;
}

.heb:hover {
    color: #0065FC;
    font-weight: 500;
    border-top: 1px solid #0065FC;
}

.act {
    text-decoration: none;
    color: black;
}

.act:hover {
    color: #0065FC;
    font-weight: 500;
    border-top: 1px solid #0065FC;
}

.insc {
    text-decoration: none;
    color: #0065FC;
    font-weight: bold;
}

.insc:hover {
    border-top: 1px solid #0065FC;
}

.entetet {
    margin-bottom: 0px;
}

.entete {
    margin-top: 0px;
}

.iplace {
    background-color: #F2F2F2;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    border-bottom-left-radius: 25%;
    border-top-left-radius: 25%;
}

form {
    padding-top: 20px;
}

form input {
    border: none;
    font-weight: bold;
}

form input:focus {
    outline: none;
}

.recherche {
    background-color: #0065FC;
    border: 1px solid rgb(255, 255, 255);
    padding-left: 10px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 12px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    color: white;
    font-weight: bold;
    font-size: smaller;
    text-decoration: none;
}

.searchi {
    display: none;
}

.pfiltre {
    display: inline-block;
    margin-right: 30px;
    margin-top: 30px;
    font-weight: bold;
    font-size: small;
}

.filtre {
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
}

.filtreflex {
    display: inline-block;
}

.filtre i {
    color: #0065FC;
    margin-bottom: 5px;
}

.ifiltre {
    background-color: #DEEBFF;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    padding: 12px;
}

.linkf {
    position: relative;
    left: 15px;
    font-weight: bold;
    font-size: smaller;
    text-decoration: none;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding: 8px 20px 8px 15px;
}

.allfiltre {
    display: inline-block;
}

.allfiltre i {
    position: relative;
    left: 29px;
}

.allfiltre a:hover {
    background-color: #0065FC;
    color: white;
}

.tinfo i, p {
    display: inline-block;
}
.tinfo i {
    background-color: white;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 50px;
    padding: 0.5em 0.6em;
    color: #0065FC;
    font-size: xx-small;
}

.tinfo p {
    margin-left: 10px;
    padding-bottom: 20px;
}

.place {
    background-color: #F2F2F2;
    width: 70%;
    height: 580px;
    border-radius: 15px;
}

.titlecont {
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 0px;
    padding-top: 20px;
}

.placecard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-content: start
}

.cardh {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 250px;
    flex: 0 0 auto;
}
  
.imgh {
    border-radius: 15px 15px 0 0;
    width: 250px;
    height: 100px;
    object-fit: cover;
}

.containerh {
    margin: 0px 0px 0px 15px;
    height: 70px;
}

.containerh h4, p {
    margin: 0px;
    color: black;
    font-size: medium;
    padding-top: 5px;
}

.mpopular {
    background-color: #F2F2F2;
    border-radius: 15px;
    width: 30%;
    height: 580px;
    margin-left: 40px;
    margin-right: 40px;
}

.titlemp {
    position: relative;
    margin-bottom: 14px;
}

.iconmp {
    position: absolute;
    bottom: 0;
    right: 30px;
}

.placecardmp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cardmp {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    display: flex;
    flex-direction: row;
}

.cardmpa {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
}

.imgmp {
    border-radius: 15px 0 0 15px;
    width: 120px;
    height: 140px;
    object-fit: cover;
}

.containermp {
    margin: 0px 0px 0px 10px;
    position: relative;
}

.containermp h4 {
    margin: 15px 10px 2.5px 0;
    overflow-wrap: break-word;
    font-size: 16px;
}

.containermp .rating {
    color: #0065FC;
    position: absolute;
    bottom: 8px;
}

.containerh .rating {
    color: #0065FC;
}

.mainsite {
    display: flex;
}

.activity h1 {
    padding-top: 40px;
    font-size: larger;
    font-weight: bold;
}

.activitypic {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2,1fr);
    gap: 40px;
    margin-right: 40px;
    grid-template-areas: 
        "vp fp pnc ndg"
        "vp if pnc pl";
}

.vp {
    grid-area: vp;
}

.vp img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.fp {
    grid-area: fp;
}

.fp img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.pnc {
    grid-area: pnc;
}

.pnc img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.ndg {
    grid-area: ndg;
}

.ndg img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.if {
    grid-area: if;
}

.if img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.pl {
    grid-area: pl;
}

.pl img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.imga {
    border-radius: 15px 15px 0 0;
}

.carda {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
}

.carda1col {
    margin: 0px 0px 0px 15px;
    height: 45px;
}

.carda1col h4 {
    margin: 0px;
    padding-top: 10px;
}

.carda2col {
    margin: 0px 0px 0px 15px;
    height: 45px;
}

.carda2col h4 {
    margin: 0px;
    padding-top: 10px;
}

footer{
    background-color: #F2F2F2;
}

.flexfooter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    margin-top: 60px;
}

.flexfooter h4 {
    font-weight: 500;
    margin: 10px 0px 10px 0px;
}

.flexfooter h3 {
    margin-top: 30px;
}

.flexfooter1 {
    display: block;
    margin-left: 40px;
    margin-bottom: 40px;
}

.flexfooter2 {
    display: block;
}

.flexfooter3 {
    display: block;
    margin-right: 200px;
}

.mpopular a {
    text-decoration: none;
}

.activity a {
    text-decoration: none;
    color: black;
}

.cardh {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 1920px) and (min-width: 1440px) {
    
    header {
        font-size: larger;
    }
    
    .placecard {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: start;
        align-content: start;
        margin: 5px;
    }
}

@media screen and (max-width: 1920px) and (min-width: 1578px) {

    .cardh {
        width: 340px;
    }

    .imgh {
        width: 340px;
    }
    
    .cardmp {
        width: 400px;
    }

    .cardmpa {
        width: 400px;
    }

    .imgmp {
        height: 140px;
    }
}

@media screen and (max-width: 1260px) {
    
    .cardmp {
        width: 280px;
    }

    .cardh {
        width: 300px;
    }

    .imgh {
        width: 300px;
    }
}

@media screen and (max-width: 1125px)  {
    
    .mpopular {
        width: 100%;
        height: 280px;
        margin-bottom: 40px;
    }

    .cardmp {
        width: 260px;
        height: 120px;
    }

    .containermp {
        height: 120px;
    }

    .imgmp {
        width: 100px;
        height: 120px;
    }

    .cardmpa {
        margin-left: 65px;
        margin-right: 65px;
        width: 200px;
        height: 100px;
    }

    .cardh {
        width: 290px;
    }

    .imgh {
        width: 290px;
    }
}

@media screen and (max-width: 1024px) {
    .cardmp {
        width: 270px;
        height: 120px;
    }

    .containermp {
        height: 120px;
    }

    .imgmp {
        width: 100px;
        height: 120px;
    }

    .cardmpa {
        margin-left: 60px;
        margin-right: 60px;
        width: 180px;
        height: 100px;
    }

    .placecardmp {
        width: 100%;
    }
}

@media screen and (max-width: 1208px) {
    
    header, main {
        margin-left: 40px;
        margin-right: 20px;
    }
    
    .mainsite {
        display: flex;
        flex-direction: column-reverse;
    }

    .place {
        background-color: #F2F2F2;
        width: 100%;
        height: 550px;
    }

    
    .mpopular {
        width: 100%;
        height: 300px;
        margin-left: 0px;
        margin-bottom: 40px;
    }

    .cardh {
        width: 250px;
    }

    .imgh {
        width: 250px;
    }
}

@media screen and (max-width: 992px) {
    .cardh {
        width: 260px;
    }

    .imgh {
        width: 260px;
    }

    .cardmpa {
        margin-left: 12px;
        margin-right: 12px;
    }
    
    .cardmp {
        width: 280px;
    }

    .cardmpa {
        width: 280px;
    }

    .imgmp {
        height: 120px;
    }
}

@media screen and (max-width: 782px) {
    
    .mpopular {
        height: 700px;
        margin-left: 0px;
        margin-bottom: 40px;
    }

    .placecardmp {
        flex-direction: column;
        justify-content: space-between;
        align-content: space-around;
    }

    .cardmp {
        width: 580px;
        margin: 20px;
        height: 150px;
    }

    .cardmpa {
        margin-bottom: 80px;
        width: 600px;
    }
    
    .imgmp {
        width: 40%;
        height: 150px;
        margin-bottom: 40px;
    }

    .place {
        height: 800px;
    }
    
    .flexfooter1 {
        margin-left: 40px;
        margin-bottom: 40px;
    }
    
    .flexfooter2 {
        margin-left: 0px;
    }
    
    .flexfooter3 {
        margin-right: 40px;
    }

    .carda1col h4 {
        padding-top: 3px;
    }
    
    .carda2col h4 {
        padding-top: 3px;
    }
}

@media screen and (max-width: 767px) {
    
    main {
        margin: 0px;
    }
    
    .filtreflex {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-content: start;
        margin-top: 20px;
    }
    
    .place {
        background-color: white;
        height: auto;
    }
    
    .placecard {
        flex-direction: column;
        align-content: center;
    }

    .cardh {
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 15px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        width: 500px;
    }
      
    .imgh {
        border-radius: 15px 15px 0 0;
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    .activitypic {
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
    }

    .carda {
        width: 500px;
    }
    
    .vp img {
        width: 500px;
        height: 150px;
    }
    
    
    .fp img {
        width: 500px;
        height: 150px;
    }
    
    .pnc img {
        width: 500px;
        height: 150px;
    }

    .ndg img {
        width: 500px;
        height: 150px;
    }
    
    .if img {
        width: 500px;
        height: 150px;
    }
    
    .pl img {
        width: 500px;
        height: 150px;
    }

    .activity h1 {
        display: inline-block;
        margin-left: 30px;
    }

    .mpopular {
        width: 100%;
        height: 700px;
        border-radius: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 697px) {
    
    .mpopular {
        width: auto;
        height: auto;
    }

    .placecardmp {
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
    }
        
    .cardmp {
        max-width: 100%;
        height: 150px;
    }

    .imgmp {
        max-width: 40%;
        height: 150px;
    }

    .containermp {
        margin: 20px;
    }
}

@media screen and (max-width: 643px) {
    
    .activitypic {
        margin-right: 0px;
    }

    .cardmpa {
        width: auto;
    }
        
    .cardmp {
        width: 400px;
        height: 150px;
    }

    .imgmp {
        max-width: 40%;
        height: 150px;
    }
}

@media screen and (max-width: 623px) {
    
    .topnav {
        display: block;
    }
    
    .nav a {
        display: block;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    .insc {
        position: absolute;
        left: 78%;
        top: 10px;
    }

    .heb:hover {
        border-top: 0px solid #0065FC;
        border-bottom: 1px solid #0065FC;
    }
    
    .act:hover {
        border-top: 0px solid #0065FC;
        border-bottom: 1px solid #0065FC;
    }

    .flexfooter {
        flex-direction: column;
    }

    .flexfooter1 {
        margin-bottom: 0px;
    }

    .flexfooter2 {
        margin-left: 40px;
    }

    .flexfooter3 {
        margin-left: 40px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 517px) {
    
    header  {
        margin: 15px;
    }
    
    .cardmp {
        width: auto;
    }

    .imgmp {
        width: 300px;
    }

    .containermp {
        margin: 10px;
    }

    .containermp h4 {
        font-size: medium;
    }
    
    .imgh {
        width: 300px;
    }
    
    .containerh {
        width: 300px;
    }

    .cardh {
        width: 300px;
    }

    .carda {
        width: 300px;
    }
    
    .carda img {
        width: 300px;
    }

    .iconmp {
        position: absolute;
        bottom: 0;
        right: 30px;
    }

    .titlecont {
        margin-left: 15px;
    }

    .mpopular {
        height: 700px;
    }

    .activity h1 {
        margin-left: 15px;
    }
}

@media screen and (max-width: 411px) {
    
    .tinfo p, .tinfo i {
        display: inline;
    }
}

@media screen and (max-width: 375px) {
    
    form {
        text-align: center;
    }
    
    .recherche {
        display: none;
    }

    .searchi {
        display: inline;
        background-color: #0065FC;
        border: 1px solid rgb(255, 255, 255);
        padding-left: 10px;
        padding-top: 11px;
        padding-bottom: 11px;
        padding-right: 12px;
        border-radius: 15px;
        color: white;
        font-weight: bold;
        font-size: smaller;
        text-decoration: none;
    }
}

@media screen and (max-width: 328px) {
    
    .containermp h4 {
        font-size: small;
        margin-top: 0px;
    }
}

@media screen and (max-width: 308px) {

    .containermp h4 {
        font-size: x-small;
    }
}