* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

header, main {
    margin-left: 40px;
}

p {
    font-size: small;
}

.logo {
    width: 80px;
    height: 60px;
    padding-top: 20px;
    padding-left: 0%;
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}    

.nav {
    display: flex;
    overflow: hidden;
}

.nava {
    margin: 30px 60px 10px 10px;
}

.heb {
    text-decoration: none;
    color: black;
}

.heb:hover {
    color: #0065FC;
    font-weight: 500;
    border-top: 1px solid #0065FC;
}

.act {
    text-decoration: none;
    color: black;
}

.act:hover {
    color: #0065FC;
    font-weight: 500;
    border-top: 1px solid #0065FC;
}

.insc {
    text-decoration: none;
    color: #0065FC;
    font-weight: bold;
}

.insc:hover {
    border-top: 1px solid #0065FC;
}

.entetet {
    margin-bottom: 0px;
}

.entete {
    margin-top: 0px;
}

.iplace {
    background-color: #F2F2F2;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    border-bottom-left-radius: 25%;
    border-top-left-radius: 25%;
}

form {
    padding-top: 20px;
}

form input {
    border: none;
    font-weight: bold;
}

form input:focus {
    outline: none;
}

.recherche {
    background-color: #0065FC;
    border: 1px solid rgb(255, 255, 255);
    padding-left: 10px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 12px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    color: white;
    font-weight: bold;
    font-size: smaller;
    text-decoration: none;
}

.pfiltre {
    display: inline-block;
    margin-right: 30px;
    margin-top: 30px;
    font-weight: bold;
    font-size: small;
}

.filtre {
    display: block;
    width: 100%;
    padding-bottom: 20px;
}

.filtre i {
    color: #0065FC;
}

.ifiltre {
    background-color: #DEEBFF;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    padding: 12px;
}

.linkf {
    position: relative;
    left: 15px;
    font-weight: bold;
    font-size: smaller;
    text-decoration: none;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding: 8px 20px 8px 15px;
}

.allfiltre {
    display: inline-block;
}

.allfiltre i {
    position: relative;
    left: 29px;
}

.allfiltre a:hover {
    background-color: #0065FC;
    color: white;
}

.tinfo i, p {
    display: inline-block;
}
.tinfo i {
    background-color: white;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 50px;
    padding: 0.5em 0.6em;
    color: #0065FC;
    font-size: xx-small;
}

.tinfo p {
    margin-left: 10px;
    padding-bottom: 20px;
}

.place {
    background-color: #F2F2F2;
    width: 65%;
    height: 550px;
    border-radius: 15px;
}

.titlecont {
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 0px;
    padding-top: 20px;
}

.placecard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: auto;
    align-content: start
}

.cardh {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 230px;
    flex: 0 0 auto;
}
  
.imgh {
    border-radius: 15px 15px 0 0;
    width: 230px;
    height: 100px;
    object-fit: cover;
}

.containerh {
    margin: 0px 0px 0px 15px;
    height: 70px;
}

.containerh h4, p {
    margin: 0px;
    padding-top: 5px;
}

.mpopular {
    background-color: #F2F2F2;
    border-radius: 15px;
    width: 35%;
    height: 550px;
    margin-left: 40px;
    margin-right: 40px;
}

.iconmp {
    margin-left: 170px;
}

.placecardmp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cardmp {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cardmpa {
    margin-top: 20px;
    height: 130px;
}

.imgmp {
    border-radius: 15px 0 0 15px;
    width: 115px;
    height: 132px;
    object-fit: cover;
}

.containermp {
    margin: 0px 0px 0px 20px;
}

.containermp h4 {
    margin: 10px 0 5px 0;
}

.oline {
    margin-bottom: 50px;
}

.tline {
    margin-bottom: 35px;
}

.rating {
    color: #0065FC;
    padding-bottom: 5px;
}

.mainsite {
    display: flex;
}

.activity h1 {
    padding-top: 40px;
}

.activitypic {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2,1fr);
    gap: 40px;
    margin-right: 40px;
    grid-template-areas: 
        "vp fp pnc ndg"
        "vp if pnc pl";
}

.vp {
    grid-area: vp;
}

.vp img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.fp {
    grid-area: fp;
}

.fp img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.pnc {
    grid-area: pnc;
}

.pnc img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.ndg {
    grid-area: ndg;
}

.ndg img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.if {
    grid-area: if;
}

.if img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.pl {
    grid-area: pl;
}

.pl img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.carda {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
}

.carda1col {
    margin: 0px 0px 0px 15px;
    height: 45px;
}

.carda1col h4 {
    margin: 0px;
    padding-top: 10px;
}

.carda2col {
    margin: 0px 0px 0px 15px;
    height: 45px;
}

.carda2col h4 {
    margin: 0px;
    padding-top: 10px;
}

footer{
    background-color: #F2F2F2;
}

.flexfooter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    margin-top: 60px;
}

.flexfooter h4 {
    font-weight: 500;
    margin: 10px 0px 10px 0px;
}

.flexfooter h3 {
    margin-top: 30px;
}

.flexfooter1 {
    display: block;
    margin-left: 40px;
    margin-bottom: 40px;
}

.flexfooter2 {
    display: block;
}

.flexfooter3 {
    display: block;
    margin-right: 200px;
}

.mpopular a {
    text-decoration: none;
}

.activity a {
    text-decoration: none;
    color: black;
}

.cardh {
    text-decoration: none;
    color: black;
}