* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin-left: 10px;
}

p {
    font-size: small;
}

header img {
    width: 5%;
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}    

.nav {
    display: flex;
    overflow: hidden;
}

header a {
    margin: 10px;
    overflow: hidden;
}

header a:hover {
    border-top: 3px blue solid;
}